@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

th{
	font-weight: normal;
	vertical-align: bottom;
}

td{
	vertical-align: bottom;
}

th + th,
td + td{
	padding-left: .5em;
	text-align: right;
}

tfoot td{
	border-top: 1px solid;
	padding-top: .5em;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#introduction td:nth-child(2),
#introduction td:nth-child(4),
#introduction td:nth-child(6),
#chapter-5 > table:first-of-type td:nth-child(2){
	text-align: center;
}

#chapter-9 header b{
	text-transform: uppercase;
}

#note-130 table tr:last-child td{
	padding-bottom: .5em;
}
